body {
}

/*table{
    width:100%;
    border:1px grey solid;
}

table thead th:first-child{
    text-align:right;
    width:100px;
    border:1px grey solid;
}*/

.searchdiv{
    width:100%;
}