USE [BookDB]
GO
/****** Object:  Table [dbo].[tb_Books]    Script Date: 09/12/2021 22:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](50) NULL,
	[AuthorId] [int] NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Books] ON
INSERT [dbo].[tb_Books] ([Id], [BookName], [AuthorId], [Details]) VALUES (3, N'Anna Karenina', 1, N'Following the success of War and Peace, in 1873, Tolstoy set to work on the second of his best-known novels, Anna Karenina. Like War and Peace, Anna Karenina fictionalized some biographical events from Tolstoy''s life, as was particularly evident in the romance of the characters Kitty and Levin, whose relationship is said to resemble Tolstoy''s courtship with his own wife')
SET IDENTITY_INSERT [dbo].[tb_Books] OFF
/****** Object:  Table [dbo].[tb_Author]    Script Date: 09/12/2021 22:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Author](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_Author] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Author] ON
INSERT [dbo].[tb_Author] ([Id], [AuthorName]) VALUES (1, N'Leo Tolstoy')
INSERT [dbo].[tb_Author] ([Id], [AuthorName]) VALUES (2, N'Dale Carnegie')
INSERT [dbo].[tb_Author] ([Id], [AuthorName]) VALUES (3, N'William Walker Atkinson')
SET IDENTITY_INSERT [dbo].[tb_Author] OFF
